*
{
    margin: 0;
    padding: 0;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

html
{
    background: #1e1a20;
    scroll-behavior: smooth;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}

.section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    width: 40%;
    margin-left: 10%;
    margin-right: auto;
    will-change: transform;
    gap: 1rem;
}

.section h1, .section h2
{
    text-transform: uppercase;
    font-size: 7vmin;
}

.section h3, .section h4, .section h5, .section h6
{
    text-transform: uppercase;
}

section:nth-child(odd)
{
    align-items: flex-end;
    margin-right: 10%;
    margin-left: auto;
}