@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}

html {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-size: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.webgl
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.section {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 20%;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    margin: 0 auto;
    gap: 2rem;
    scroll-snap-align: start;
    pointer-events: none;
    width: 80%;
}

.section * {
    pointer-events: auto;
}

#landing.section {
    padding-top: 0;
    justify-content: center;
}

.section .content, .section .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.section .content-wrapper {
    gap: 2rem;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6
{
    text-transform: uppercase;
}

.canvasfree {
    height: 40%;
    width: 100%;
    pointer-events: none;
}

.logo {
    width: 70%;
    margin-bottom: 1rem;
    text-align: center;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    width: 100%;
}

.scrolldown {
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    width: fit-content;
}

.scrolldown i {
    font-size: 2rem;
}

.linkList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin-top: 0.2rem;
}

a.link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #65C9FF;
}

a.link:hover {
    font-weight: 600;
}

a.icon {
    font-size: 1.7rem;
}

.txtc {
    text-align: center;
}

.hobbies {
    margin-top: 1.5rem;
}

.hobby {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.hobby img {
    width: 3.2rem;
    height: 3.2rem;
}

.hobby .title {
    font-weight: 600;
}

@media (min-width: 800px) {
    .section {
        width: 60%;
        padding-top: 10%;
    }

    .section h2 {
        margin-bottom: 3rem;
    }

    html {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .section {
        width: 40%;
        padding-top: 5%;
    }
}